@font-face {
  src: url(fonts/Elianto/Elianto-Regular.ttf);
  font-family: elianto;
}

.fontchange {
  Font-family:Courier New;
}
.topnav {
  background-color: rgba(51, 51, 51, 0.445);
  overflow: hidden;
}
.topnav-name {
  position: absolute;
  text-align: left;
  text-decoration: none;
  font-size: 17px;
  top: -1.8%;
  left: 1%;
}
.topnav-center a {
  position: relative;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
  top: auto;
  left: 47%;

}
.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition: 0.5s;
}
.fa {
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  transition: 0.8s;
  opacity: .5;
  width: 30px;
}
.fa:hover {
  opacity: 1;
  transition: 0.8s;
}
.fa-github {
  background: #000000c5;
  color: white;
}
.fa-codepen {
  background: #ffffffcc;
  color: rgb(0, 0, 0);
}
.fa-steam {
  background: #02001ace;
  color: rgb(129, 129, 129);
}
.fa-instagram {
  background: #125788d2;
  color: white;
}

body {
  background-image: url("https://i.imgur.com/HNXIaP8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  position: relative;
  width: 43%;
  height: auto;
  top: 10px;
  left: 28%;
  z-index: 1;
  margin-left: unset;
}

@media only screen and (max-width:600px){
  .container {
    width: 20%;
  }
}
.container .box {
  position: relative;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.336);
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  z-index: -1;
}

.container .box .icon {
  opacity: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.8s;
  z-index: 1;
}
.container .box:hover .icon {
  opacity: 100%;
  top: 5px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 20%;
  z-index: 1;
}
.container .box .icon .fa {
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 60px;
  transition: .5s;
  color: teal;
}
.container .box:hover .icon .fa {
  font-size: 30px;
}
.container .box .content {
  position: center;
  top: 100%;
  padding: 24%;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0%;
}
.container .box:hover .content{
  top: 100px;
  opacity: 100%;
}
.container .box .content h1 {
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
  color:rgb(182, 87, 10);
  Font-family: elianto;
  font-size: 24px;
  text-decoration: underline overline;
}
.container .box .content h2 {
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
  color:rgb(182, 87, 10);
  Font-family: elianto;
  font-size: 22px;
  font-style: italic;
  text-decoration: underline;
}
.container .box .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color:rgb(255, 255, 255);
  font-size: 18px;
  font-style: oblique;
  font-weight: bold;
}
.container .box .content ul {
  margin: 0;
  padding: 0;
  text-align: center;
  color:rgb(255, 255, 255);
  font-size: 18px;
  font-style: oblique;
  font-weight: bold;
}
.container .box:nth-child(1) .icon {
  background-image: url("https://i.imgur.com/HNXIaP8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container .box:nth-child(1) {
  background-image: url("https://i.imgur.com/YkqJ0m9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container .box:nth-child(2) .icon {
  background-image: url(logo/TP_Emblem.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.container .box:nth-child(2) {
  background-image: url("https://i.imgur.com/ZitxxKs.png");
  background-size: cover;
  background-repeat: no-repeat;

}
.container .box:nth-child(3) .icon {
  background-image: url("https://i.imgur.com/5Fj9kz6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.container .box:nth-child(3) {
  background-image: url("https://i.imgur.com/YkqJ0m9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container .box:nth-child(4) .icon {
  background-image: url("https://i.imgur.com/HNXIaP8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container .box:nth-child(4) {
  background-image: url("https://i.imgur.com/YkqJ0m9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container .box:nth-child(5) .icon {
  background-image: url("https://i.imgur.com/HNXIaP8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container .box:nth-child(5) {
  background-image: url("https://i.imgur.com/YkqJ0m9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  opacity: 70%;
  border-radius: 20px;
  overflow: hidden;
  position: fixed;
  transition: 0.8s;
}
img:hover {
  opacity: 100%;
  transition: 0.8s;  
}
.photo-1 {
  position: absolute;
  margin: 15px;
  padding: 10px;
  left: 0%;
}
.photo-2 {
  position: absolute;
  margin: 15px;
  padding: 10px;
  top: 50.35%;
  left: 0%;
}
iframe {
  border-radius: 20px;
  overflow: hidden;
}

.spotify {
  opacity: 70%;
  position: fixed;
  margin: 15px;
  padding: 10px;
  right: 0;
  transition: 0.8s;
}
.spotify:hover {
  opacity: 100%;
  transition: 0.8s;
}

#video {
  opacity: 70%;
  position: fixed;
  margin: 15px;
  padding: 10px;
  top: 34%;
  right: 0;
  transition: 0.8s;
}
#video:hover {
  opacity: 100%;
  transition: 0.8s;
}
#audio {
  opacity: 70%;
  position: fixed;
  margin: 15px;
  padding: 10px;
  top: 74.35%;
  right: 0;
  transition: 0.8s;
}
#audio:hover {
  opacity: 100%;
  transition: 0.8s;
}


h1 {
  color:rgb(182, 87, 10);
  Font-family: elianto;
  font-size: 35px;
  text-decoration: underline overline;
}
h2 {
  color:rgb(182, 87, 10);
  Font-family: elianto;
  font-size: 22px;
  text-decoration: underline;
}
p {
  color:rgb(255, 255, 255);
  font-size: 18px;
  font-style: oblique;
  font-weight: bold;
}